---
import TestFirestore from "../components/TestFirestore";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Test Firestore</title>
  </head>
  <body>
    <main class="p-6">
      <h1 class="text-2xl font-bold mb-4">Test de Firestore</h1>
      <TestFirestore client:only="react" />
    </main>
  </body>
</html>
