---
import "../styles/global.css"; // 👈 correcto, Astro lo procesa
import NavBar from "../components/Navbar.tsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Agéndate - citas online con un solo clic</title>
  </head>
  <body class="min-h-screen bg-white">
    <NavBar client:load />
    <main>
      <slot /> <!-- 👈 contenido dinámico -->
    </main>
  </body>
</html>
